@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

table {
  caption-side: bottom;
  border-collapse: collapse; }


th {
  text-align: inherit;
  text-align: -webkit-match-parent; }

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  vertical-align: middle; }

.td-title:hover {
  text-decoration: underline;
}


.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #6c757d;
  --bs-table-striped-bg: #f1f5f7;
  --bs-table-active-color: #6c757d;
  --bs-table-active-bg: rgba(0, 0, 0, 0.075);
  --bs-table-hover-color: #6c757d;
  --bs-table-hover-bg: #f5f8f9;
  width: 100%;
  margin-bottom: 1.5rem;
  color: #6c757d;
  vertical-align: top;
  border-color: #edeff1; }
.table > :not(caption) > * > * {
  padding: 0.85rem 0.85rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg); }
.table > tbody {
  vertical-align: inherit; }
.table > thead {
  vertical-align: bottom;
  background-color: #edeff1;
  font-family: sans-serif;}
.table > :not(:last-child) > :last-child > * {
  border-bottom-color: #edeff1; }

.table-dark {
  --bs-table-bg: #323a46;
  --bs-table-striped-bg: white;
  --bs-table-striped-color: #343a40;
  --bs-table-active-bg: #474e59;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #414954;
  --bs-table-hover-color: #fff;
  color: #fff;
  border-color: #474e59; }

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; }

.bg-grey {
  background-color: #6c757d;
}

.link {
  position: relative;
}

.link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* 원하는 밑줄 높이 조절 */
  width: 100%;
  height: 2px; /* 밑줄의 높이 */
  background-color: white; /* 밑줄 색상 */
  transform: scaleX(0); /* 처음에는 밑줄을 보이지 않게 함 */
  transform-origin: right;
  transition: transform 0.2s ease-in-out; /* 밑줄 변화에 애니메이션 적용 */
}

.link:hover::before {
  transform: scaleX(1); /* 호버 시 밑줄 표시 */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: black;
  color: white;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-list li {
  margin-right: 1rem;
}

.nav-list a {
  text-decoration: none;
  color: white;
}

.auth {
  display: flex;
  gap: 1rem;
}

.menu-button {
  background-color: lightsteelblue;
  color: rebeccapurple;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-button:hover {
  background-color: lightpink;
}

.post-detail-container {
  width: 100%;
  max-width: 1200px; /* Optionally, set a max-width to control the content width */
  margin: 0 auto; /* Center the box horizontally */
  padding: 20px; /* Add padding for spacing inside the box */
  box-sizing: border-box; /* Ensure padding and borders are included in the width */
}

.post-content {
  max-height: 300px; /* Adjust the desired height */
  overflow-y: auto;
  padding: 15px;
  border-radius: 10px;
  background-color: #343a40;
  word-break: break-all;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* 배경 어두운 정도 조절 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 모달을 다른 요소 위에 표시 */
}

.modal {
  background: lightgoldenrodyellow;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: black;
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #888;
  width: 90%; /* Could be more or less, depending on screen size */
}